<footer class="u-align-left u-clearfix u-footer u-gradient u-footer" id="sec-cbf6">
    <div class="u-clearfix u-sheet u-sheet-1">
      <a href="/" data-page-id="764719763"
        class="u-btn u-button-style u-none u-text-body-alt-color u-btn-1">Главная</a>
      <a href="/market" data-page-id="861408257"
        class="u-btn u-button-style u-none u-text-body-alt-color u-btn-2">Маркет</a>
      <a href="/license" data-page-id="33555034"
        class="u-btn u-button-style u-none u-text-body-alt-color u-btn-3">Лицензии<br>
      </a>
      <a href="/about" data-page-id="88637945"
        class="u-btn u-button-style u-none u-text-body-alt-color u-btn-4">Контакная информация</a>
      <p class="u-align-center u-text u-text-body-alt-color u-text-1">&nbsp;Все права защищены</p>
    </div>
  </footer>