<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru-RU">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="Контактная информация">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <title>Контактная информация</title>
  <link rel="stylesheet" href="nicepage.css" media="screen">
  <link rel="stylesheet" href="Контактная-информация.css" media="screen">
  <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
  <meta name="generator" content="Nicepage 3.14.1, nicepage.com">
  <link rel="icon" href="favicon.png">
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">



  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "BMW Corporation",
      "url": "index.html"
    }
  </script>
  <meta property="og:title" content="Контактная информация">
  <meta property="og:type" content="website">
  <meta name="theme-color" content="#478ac9">
  <link rel="canonical" href="index.html">
  <meta property="og:url" content="index.html">
</head>

<body class="u-body">
  {{> menu}}
  <section class="u-align-left u-clearfix u-image u-section-1" id="sec-34e6" data-image-width="1280"
    data-image-height="793" data-animation-name="" data-animation-duration="0" data-animation-delay="0"
    data-animation-direction="">
    <div class="u-clearfix u-sheet u-sheet-1">
      <img src="641ILYUXVfs.png" alt="" class="u-image u-image-default u-image-1" data-image-width="604"
        data-image-height="599" data-animation-name="rotateIn" data-animation-duration="1000" data-animation-delay="0"
        data-animation-direction="">
      <h2 class="u-align-center u-text u-text-default u-text-1" data-animation-name="fadeIn"
        data-animation-duration="1000" data-animation-delay="0">Найти нас вы можете по<br>адресу:
        Волгоградский&nbsp;<br>просп., 41, стр.2, Москва<br>Тел. +7 (495) 154-67-12
      </h2>
      <img src="123.jpg" alt="" class="u-image u-image-default u-image-2" data-image-width="900"
        data-image-height="540" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
    </div>
  </section>
  <section class="u-clearfix u-grey-light-2 u-typography-custom-page-typography-12--Map u-section-2" id="sec-8427">
    <div class="u-absolute-hcenter u-expanded-height u-grey-light-2 u-map u-map-1">
      <div class="embed-responsive">
        <iframe class="embed-responsive-item"
          src="//maps.google.com/maps?output=embed&amp;q=%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0%2C%20%D0%92%D0%BE%D0%BB%D0%B3%D0%BE%D0%B3%D1%80%D0%B0%D0%B4%D1%81%D0%BA%D0%B8%D0%B9%20%D0%BF%D1%80%D0%BE%D1%81%D0%BF%D0%B5%D0%BA%D1%82%2C%2041%2C%20%D1%81%D1%82%D1%80.%202&amp;t=m"
          data-map="JTdCJTIycG9zaXRpb25UeXBlJTIyJTNBJTIybWFwLWFkZHJlc3MlMjIlMkMlMjJhZGRyZXNzJTIyJTNBJTIyJUQwJTlDJUQwJUJFJUQxJTgxJUQwJUJBJUQwJUIyJUQwJUIwJTJDJTIwJUQwJTkyJUQwJUJFJUQwJUJCJUQwJUIzJUQwJUJFJUQwJUIzJUQxJTgwJUQwJUIwJUQwJUI0JUQxJTgxJUQwJUJBJUQwJUI4JUQwJUI5JTIwJUQwJUJGJUQxJTgwJUQwJUJFJUQxJTgxJUQwJUJGJUQwJUI1JUQwJUJBJUQxJTgyJTJDJTIwNDElMkMlMjAlRDElODElRDElODIlRDElODAuJTIwMiUyMiUyQyUyMnpvb20lMjIlM0FudWxsJTJDJTIydHlwZUlkJTIyJTNBJTIycm9hZCUyMiUyQyUyMmxhbmclMjIlM0FudWxsJTJDJTIyYXBpS2V5JTIyJTNBbnVsbCUyQyUyMm1hcmtlcnMlMjIlM0ElNUIlNUQlN0Q="></iframe>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2247.456579118803!2d37.71116091659467!3d55.715817080543474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414ab5238a9dc43d%3A0x258262fcb7edcc4c!2z0JLQvtC70LPQvtCz0YDQsNC00YHQutC40Lkg0L_RgC3Rgi4sIDQxINC60L7RgNC_0YPRgSAyLCDQnNC-0YHQutCy0LAsIDEwOTMxNg!5e0!3m2!1sru!2sru!4v1652989201537!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </section>


  <footer class="u-align-left u-clearfix u-footer u-gradient u-footer" id="sec-cbf6">
    <div class="u-clearfix u-sheet u-sheet-1">
      <a href="Главная.html" data-page-id="764719763"
        class="u-btn u-button-style u-none u-text-body-alt-color u-btn-1">Главная</a>
      <a href="Маркет.html" data-page-id="861408257"
        class="u-btn u-button-style u-none u-text-body-alt-color u-btn-2">Маркет</a>
      <a href="Лицензии.html" data-page-id="33555034"
        class="u-btn u-button-style u-none u-text-body-alt-color u-btn-3">Лицензии<br>
      </a>
      <a href="Контактная-информация.html" data-page-id="88637945"
        class="u-btn u-button-style u-none u-text-body-alt-color u-btn-4">Контакная информация</a>
      <p class="u-align-center u-text u-text-body-alt-color u-text-1">&nbsp;Все права защищены</p>
    </div>
  </footer>
</body>

</html>