<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru-RU">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="Добро пожаловать в ангар оружий GUN">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <title>Главная</title>
  <link rel="stylesheet" href="nicepage.css" media="screen">
  <link rel="stylesheet" href="Главная.css" media="screen">
  <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
  <meta name="generator" content="Nicepage 3.14.1, nicepage.com">
  <link rel="icon" href="images/favicon.png">
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">


  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "BMW Corporation",
      "url": "index.html"
    }
  </script>
  <meta property="og:title" content="Главная">
  <meta property="og:type" content="website">
  <meta name="theme-color" content="#478ac9">
  <link rel="canonical" href="index.html">
  <meta property="og:url" content="index.html">
</head>

<body data-home-page="Главная.html" data-home-page-title="Главная" class="u-body">
 {{> menu}}
  <section class="u-align-left u-clearfix u-image u-section-1" id="sec-9bf6" data-image-width="1280"
    data-image-height="793">
    <img src="images/641ILYUXVfs.png" alt="" class="u-image u-image-default u-image-1" data-image-width="604"
      data-image-height="599" data-animation-name="rotateIn" data-animation-duration="1000" data-animation-delay="0"
      data-animation-direction="">
    <h1 class="u-align-center u-text u-text-default u-text-1" data-animation-name="bounceIn"
      data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">В нашем магазине вы
      можете<br>приобрести автомобиль марки<br>BMW.<br>Все автомобили были&nbsp;<br>доставлены к нам<br>прямиком из
      Германии.<br>Будьте уверены в качестве&nbsp;<br>наших машин, они<br>абсолютно новые.
    </h1>
    <img src="images/RMdSUJXIuBs.jpg" alt="" class="u-image u-image-default u-image-2" data-image-width="1280"
      data-image-height="809" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0"
      data-animation-direction="X">
  </section>
  <style class="u-overlap-style">
    .u-overlap:not(.u-sticky-scroll) .u-header {
      background-image: linear-gradient(#77aad9, #4c7397) !important
    }
  </style>


  <footer class="u-align-left u-clearfix u-footer u-gradient u-footer" id="sec-cbf6">
    <div class="u-clearfix u-sheet u-sheet-1">
      <a href="Главная.html" data-page-id="764719763"
        class="u-btn u-button-style u-none u-text-body-alt-color u-btn-1">Главная</a>
      <a href="Маркет.html" data-page-id="861408257"
        class="u-btn u-button-style u-none u-text-body-alt-color u-btn-2">Маркет</a>
      <a href="Лицензии.html" data-page-id="33555034"
        class="u-btn u-button-style u-none u-text-body-alt-color u-btn-3">Лицензии<br>
      </a>
      <a href="Контактная-информация.html" data-page-id="88637945"
        class="u-btn u-button-style u-none u-text-body-alt-color u-btn-4">Контакная информация</a>
      <p class="u-align-center u-text u-text-body-alt-color u-text-1">&nbsp;Все права защищены</p>
    </div>
  </footer>
  <section class="u-backlink u-clearfix u-grey-80">
    <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
      <span>Website Templates</span>
    </a>
    <p class="u-text">
      <span>created with</span>
    </p>
    <a class="u-link" href="https://nicepage.com/" target="_blank">
      <span>Website Builder Software</span>
    </a>.
  </section>
</body>

</html>