<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="nicepage.css" media="screen">
    <link rel="stylesheet" href="Маркет.css" media="screen">
    <title>Добавить машину</title>
</head>

<body>
    {{> menu}}

    <a href="/market">К списку автомобилей</a>
    <form method="POST">
        <label>Марка</label>
        <input name="name" /><br><br>
        <label>Модель</label>
        <input name="model" /><br><br>
        <label>Цвет</label>
        <input name="color" /><br><br>
         <label>Цена</label>
        <input name="price" /><br><br>
        <input type="submit" value="Отправить" />
    </form>
    <a href="/market">К списку автомобилей</a>

    {{> footer}}
</body>

</html>