<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru-RU">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="Лицензии">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <title>Лицензии</title>
  <link rel="stylesheet" href="nicepage.css" media="screen">
  <link rel="stylesheet" href="Лицензии.css" media="screen">
  <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
  <meta name="generator" content="Nicepage 3.14.1, nicepage.com">
  <link rel="icon" href="images/favicon.png">
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">


  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "BMW Corporation",
      "url": "index.html"
    }
  </script>
  <meta property="og:title" content="Лицензии">
  <meta property="og:type" content="website">
  <meta name="theme-color" content="#478ac9">
  <link rel="canonical" href="index.html">
  <meta property="og:url" content="index.html">
</head>

<body class="u-body">
  {{> menu}}
  <section class="u-align-left u-clearfix u-image u-section-1" id="sec-cae5" data-image-width="1280"
    data-image-height="793" data-animation-name="" data-animation-duration="0" data-animation-delay="0"
    data-animation-direction="">
    <div class="u-clearfix u-sheet u-sheet-1">
      <img src="images/641ILYUXVfs.png" alt="" class="u-image u-image-default u-image-1" data-image-width="604"
        data-image-height="599" data-animation-name="rotateIn" data-animation-duration="1000" data-animation-delay="0"
        data-animation-direction="">
      <h2 class="u-text u-text-1">Лицензии</h2>
      <h4 class="u-text u-text-2">Автомобили, мотоциклы и другие виды мототехники, прицепы и номерные агрегаты к ним
        должны пройти предпродажную подготовку, виды и объемы которой определяются изготовителями продукции. В сервисной
        книжке на товар или ином заменяющем ее документе продавец обязан сделать отметку о проведении такой
        подготовки.<br>
        <br>(в ред.&nbsp;Постановления&nbsp;Правительства РФ от 20.10.1998 N 1222)<br>
        <br>(см. текст в предыдущей&nbsp;редакции)<br>При демонстрации предлагаемого к продаже товара обеспечивается
        свободный доступ к нему покупателя.<br>При передаче товара покупателю одновременно передаются установленные
        изготовителем комплект принадлежностей и документы, в том числе сервисная книжка или иной заменяющий ее
        документ, а также документ, удостоверяющий право собственности на транспортное средство или номерной агрегат,
        для их государственной регистрации в установленном законодательством Российской Федерации порядке.<br>В случае
        утраты покупателем документа, удостоверяющего право собственности на транспортное средство или номерной агрегат,
        продавец обязан по заявлению владельца и предъявлению им паспорта или другого документа, его заменяющего, выдать
        новый документ с пометкой "дубликат" с указанием серии, номера и даты ранее выданного документа.<br>Лицо,
        осуществляющее продажу, при передаче товара проверяет в присутствии покупателя качество выполненных работ по
        предпродажной подготовке товара, а также его комплектность.<br>Вместе с товаром покупателю передается также
        товарный чек, в котором указываются наименование товара и продавца, марка товара, номера его агрегатов, дата
        продажи и цена товара, а также подпись лица, непосредственно осуществляющего продажу.
      </h4>
    </div>
  </section>


  <footer class="u-align-left u-clearfix u-footer u-gradient u-footer" id="sec-cbf6">
    <div class="u-clearfix u-sheet u-sheet-1">
      <a href="Главная.html" data-page-id="764719763"
        class="u-btn u-button-style u-none u-text-body-alt-color u-btn-1">Главная</a>
      <a href="Маркет.html" data-page-id="861408257"
        class="u-btn u-button-style u-none u-text-body-alt-color u-btn-2">Маркет</a>
      <a href="Лицензии.html" data-page-id="33555034"
        class="u-btn u-button-style u-none u-text-body-alt-color u-btn-3">Лицензии<br>
      </a>
      <a href="Контактная-информация.html" data-page-id="88637945"
        class="u-btn u-button-style u-none u-text-body-alt-color u-btn-4">Контакная информация</a>
      <p class="u-align-center u-text u-text-body-alt-color u-text-1">&nbsp;Все права защищены</p>
    </div>
  </footer>
</body>

</html>