.u-section-1 {
  background-image: url("images/AT2kOfADpWU.jpg");
  background-position: 50% 50%;
  min-height: 717px;
}

.u-section-1 .u-image-1 {
  width: 188px;
  height: 189px;
  animation-duration: 1000ms;
  margin: -94px auto 0 calc(((100% - 1140px) / 2) + 476px);
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  margin: 43px calc(((100% - 1140px) / 2) + 516px) 0 0;
}

.u-section-1 .u-image-2 {
  width: calc(((100% - 1140px) / 2) + 490px);
  height: 360px;
  animation-duration: 1000ms;
  margin: -393px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 591px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + 476px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 425px);
  }

  .u-section-1 .u-image-2 {
    width: calc(((100% - 940px) / 2) + 490px);
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 453px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + 476px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 326px);
  }

  .u-section-1 .u-image-2 {
    width: calc(((100% - 720px) / 2) + 490px);
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + 352px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 245px);
  }

  .u-section-1 .u-image-2 {
    width: calc(((100% - 540px) / 2) + 490px);
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 214px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 340px) / 2) + 152px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2) + 154px);
  }

  .u-section-1 .u-image-2 {
    width: calc(((100% - 340px) / 2) + 340px);
    height: NaNpx;
  }
}